<mat-form-field class="w-100">
  <input
    matInput
    placeholder="Year"
    [formControl]="date"
    [matDatepicker]="datepicker"
    (click)="_openDatepickerOnClick(datepicker)"
    (keydown.arrowdown)="_openDatepickerOnClick(datepicker)"
    (keydown.enter)="_openDatepickerOnClick(datepicker)"
  />
  <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
  <mat-datepicker
    #datepicker
    startView="multi-year"
    [calendarHeaderComponent]="customDatepickerHeader"
    (yearSelected)="chosenYearHandler($event, datepicker)"
  >
  </mat-datepicker>
</mat-form-field>
